@{
    ViewBag.Title = "Run Away!";
}



<div id="divAll" class="container-fluid">
    <div class="row">
        <div class="col-xs-12" style="text-align:center">
            <h2>Run Away!</h2>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12" style="text-align:center">
            <span id="scoreLabel"><strong>Score:</strong></span><span id="scoreValue">0</span><br />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1" style="display:table-cell; vertical-align:top;">&nbsp;&nbsp;&nbsp;</div>

        <div class="col-xs-2 " style="display:table-cell; vertical-align:top;">
            High<br />
            Scores<br />
            <span id="highScore"> </span>
        </div>
        <div class="col-xs-1" style="display:table-cell; vertical-align:top;">&nbsp;</div>
        <div class="col-xs-8" style="display:table-cell; text-align:right;vertical-align:top;">

            <canvas id="losCanvas">Your Browser Does Not Support HTML 5 Canvas</canvas>
        </div>

    </div>

</div>
<img id="sleepyImg" src="~/Img/sleepy.png" style="visibility: hidden;"/>
<img id="evilImg" src="~/Img/evil.png" style="visibility: hidden;"/>
<img id="smartImg" src="~/Img/smart.png" style="visibility: hidden;"/>
<img id="stupidImg" src="~/Img/stupid.png" style="visibility: hidden;" />
<img id="playerImg" src="~/Img/player.png" style="visibility: hidden;" />

