@{
    ViewBag.Title = "Run Away!";
}
<p class="center-block">Run Away!</p>
<hr />

<div id="divAll" class="container-fluid px-lg-5">

    <div class="row ">

        <div class="col-xs-9">
            <canvas id="losCanvas">Your Browser Does Not Support HTML 5 Canvas</canvas>
        </div>
        <div class="col col-xs-1">
            <span id="scoreLabel">
                <strong>Score:</strong>
            </span>
            <span id="scoreValue">0</span>
            <br /><br /><br /><br />
            <strong>
                High<br />
                Scores<br />
            </strong>
            <span id="highScore"> </span>

        </div>
    </div>

</div>
<img id="sleepyImg" src="~/Img/sleepy.png" style="visibility: hidden;" />
<img id="evilImg" src="~/Img/evil.png" style="visibility: hidden;" />
<img id="smartImg" src="~/Img/smart.png" style="visibility: hidden;" />
<img id="stupidImg" src="~/Img/stupid.png" style="visibility: hidden;" />
<img id="playerImg" src="~/Img/player.png" style="visibility: hidden;" />

